body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'fantasy', sans-serif;
  margin: auto;
  
}

h1 {
font-family: fantasy;
font-size: 2em;
}	



#comida {
font-size: 23px;
font-style: bold;
font-family: monospace;
text-align: center;
margin: 10px 10px 10px 10px;
  
}

#container {
  box-sizing: border-box;
  position: relative;
  background-color: grey;
  border: 0px solid black;
  text-align: justify;
  padding: 20px 20px 20px 20px;
  margin: 20px 5px 5px 5px;
  }


/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 2px solid black;
  padding: 0px;
  width: 100%;
  margin: 0px;
 
}

.navbar-brand {
  padding-top: 0px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: monospace;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

}


.navbar-brand p {
  color: black;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 0px;
 
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid black;
}

}
#nav-list a span {
  font-size: 1.1em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
  color: black;
}

/* END HEADER */


/* HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container {
height: 1200px;

  }


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  /* Home Page */
   .container {
height: 600px;
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
 .container {
height: 500px;
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 1vw; /* 1vw = 1% of viewport width */
  }
  

  #collapsable-nav a div { /* Collapsed nav menu text */
    font-size: 1.1em;

  }


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 2vw;

  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



